body { margin: 0; }
        .layout { 
			width: 980px; 
			margin: auto; 
			}
			
        .auth { 
			padding: 3px; 
			text-align: right; 
			display: inline-block; 
			border: 1px solid purple;
			}
			
        .login { 
			padding: 3px; 
			text-align: right; 
			display: inline-block; 
			}
        .logo { 
			padding: 3px; 
			background: #d3dfe9; 
			text-align: center;
			}
			
        .content { 
			padding: 10px; 
			text-align: center;
			}
			
        .ad {
			padding: 3px;
			border: 1px solid purple;
			height:200px;
			}
			
        .image { 
			float: left;
			width: 196px;
			height:196px;
			border: 1px solid purple;
			}
			
        .cont {
			float: right;
			width: 700px;
			text-align:left;
			}
			
        .title {
			font-size: 26pt;
			height:40px;
			}
			
        .type {
			font-size: 13pt;
			height:30px;
			}
			
        .text {
			font-size: 11pt;
			height:100px; 
			overflow: hidden;
			}
			
        .price { 
			float: left;
			width: 200px;
			}
			
        .links {
			float: right;
			width: 200px; 
			}

        .footer {
			position:fixed; 
			bottom:20px;
			width: 980px; 
			text-align: center;
			}
			
        .edit_form {  
			width: 590px;
			text-align: left; 
			margin:0 auto;
			}
			
        .edit_form .infofield {
			margin-top: 10px;  
			}
			
        .edit_form select, .edit_form input, .edit_form textarea {
            width: 100%;
            margin: 5px 0;
            padding: 5px 15px;
            }
